.container {
  width: 75%;
  height: 90vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  text-align: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.ContactBg {
  object-fit:cover;
  z-index: 1;
  height: 100%;
  position: absolute;
  z-index: 1;
  max-height: 820px;
  min-width: 100%;
}

.ContactForm {
  width: 90%;
  background-color: #fff;
  z-index: 2;
  padding: 40px;
  max-width: 700px;
}

@media (max-width: 992px) {
  .ContactForm {
    width: 96%;
    padding: 20px;
  }
}

.Profile {
  border-radius: 130px;
  height: 130px;
  width: 130px;
  margin-bottom: 40px;
}

.SubmitRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
}