.container {
  width: 75%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  text-align: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.ContactBg {
  object-fit:cover;
  width: 75%;
  z-index: 1;
  height: 90vh;
  position: absolute;
  z-index: 1;
}

.ContactForm {
  width: 75%;
  background-color: #fff;
  height: 380px;
  z-index: 2;
}

.Profile {
  border-radius: 130px;
  height: 130px;
  width: 130px;
  margin-bottom: 40px;
}