@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

.App {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: #fdf8d9; */
  background-color: #282828;
  padding: 25px 25px 0;
}

.Content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavContainer {
  height: 90vh;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1.5px solid #282828;
  padding: 10px;
  background-color: #fff;
}

.Nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1.5px solid #282828;
  padding: 50px 20px 0;
  background-color: #fff;
}

.App-logo {
  height: 10vmin;
  object-fit:contain;
  z-index: 2;
  margin-bottom: 50px;
}

.CarouselContainer {
  z-index: 5;
  height: 92vh;
  background-color: #000;
  width: 550px;

}

.Im {
  height: 92vh;
  object-fit: cover;
}

.Bg {
  height: 92vh;
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
}

.Body {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.NavItems {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavText {
  color: #282828;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Nunito';
  text-align: center;
  margin-bottom: 15px;
}

.App-link {
  color: #282828;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
  font-family: 'Nunito';
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.App-link:hover {
  opacity: 0.75;
}

.Right {
  display: flex;
  flex: 1;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
  padding: 50px 35px 50px 35px;
  
  background-color: #f2f2f2;

}

.TitleContainer {
  border-radius: 10px;
  border: 1px solid #282828;
  padding: 10px 20px;
  margin-bottom: 35px;
  z-index: 2;
}

.Title {
  color: #282828;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Nunito';
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Instagram {
  text-align: center;
  margin-top: 50px;
}

.InstagramButton {
  color: #282828;
  text-decoration: none;
  cursor: pointer;
}

.ReservationsImage {
  z-index: 5;
  height: 92vh;
  background-color: #000;
  width: 550px;
  object-fit: cover;
}

/******  INPUTS */
.InputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.Input {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  max-width: 48%;
}

.TextArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  max-width: 100%;
}

label {
  font-weight: 600;
  font-size: 12px;
  font-family: 'Nunito';
  text-transform: uppercase;
}
textarea {
  color: #282828;
  margin-top: 6px;
  height: 120px;
  border: 1px solid #282828;
  border-radius: 4px;
  font-family: 'Nunito';
  margin-right: 50px;
  font-size: 16px;
  font-weight: 600;
}

input {
  color: #282828;
  margin-top: 6px;
  height: 36px;
  border: 1px solid #282828;
  border-radius: 4px;
  font-family: 'Nunito';
  margin-right: 50px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.Submit {
  background-color: #fff;
  font-family: 'Nunito';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
}

.Submit:hover {
  background-color: #282828;
  color: #fff;
  transition: 0.2s ease-in-out;
}